*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(145, 145, 218);
}

#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
}

#ptop{
    justify-content: space-between;
    display: flex;
    color: floralwhite;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: black;
}

#elem{
    padding: 10%;
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.box{
    padding: 10px;
    background: #fff;
    color: black;
    font-weight: 600;
    font-size: 24px;
    border-radius: 10px;
}

#pbtm{
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    padding: 12px;
    width: 100%;
    height: calc(100% - 100px);
    background-color: rgb(164, 217, 238);
    justify-content: center;
    align-items: center;
}

#bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 25px;
    width: 48px;
    height: 48px;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
}

#bubble:hover{
    background-color: rgb(44, 6, 139);
    color: aliceblue;
    cursor: pointer;
}

